/* ページ全体の設定 */
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  row-gap: 20px;
  font-family: 'M PLUS 1p', 'Hiragino Kaku Gothic Pro', sans-serif, 'メイリオ';
  color: $kurogakiiro;
  max-width: 1280px;
  margin: 0 auto;
}

/* 列の設定 (トップページ)*/
body.top {
  grid-template:
    "...... head    ......" 100px
    "title  title   title " auto
    "...... service ......" auto
    "foot   foot    foot  " 100px /
     20px   1fr    20px;
}

/* 列の設定 (サイトページ)*/
body.site {
  grid-template:
    "...... head    ......" 100px
    "...... intro   ......" auto
    "...... submenu ......" auto
    "foot   foot    foot  " 100px /
     20px   1fr     20px;
}

/* デスクトップ版 */
@media(min-width: 768px) {
  body.top {
    grid-template:
      "...... head    head    head    head    head    head    ......" 100px
      "title  title   title   title   title   title   title   title " auto
      "...... service service service service service service ......" auto
      "foot   foot    foot    foot    foot    foot    foot    foot  " 100px /
       20px   1fr     1fr     1fr     1fr     1fr     1fr     20px;
  }
  body.site {
    max-width: 1280px;
    margin: 0 auto;
    grid-template:
      "...... head    head    head    head    head    head    ......." 100px
      "...... intro   intro   intro   intro   submenu submenu ......." auto
      "foot   foot    foot    foot    foot    foot    foot    foot  " 100px /
       20px   1fr     1fr     1fr     1fr     1fr     1fr     20px;
  }
}
