// 施工事例の説明文の省略記号(...)
.ellipsis {
  display: inline-block;
  // height: 70px;
  padding: 0rem 0.46rem;
  margin: 0;
  text-align: left;
  // font-size: 0.77rem;
  font-size: 14.5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  line-height: 1.2;
}
