// // jQueryを使わずCSSのみで画像をキラッとさせる
// // https://www.trust5.jp/jquery-light/
// .reflection {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   overflow: hidden;
//   z-index: -1;
//
//   &::after {
//     content: "";
//     height: 100%;
//     width: 5px;
//     position: absolute;
//     top: 100px;
//     left: 0;
//     background: $sakurairo;
//     opacity: 0;
//     transform: rotate(30deg);
//     animation: reflection 1.5s ease-in-out infinite;
//   }
// }
//
// @keyframes reflection {
//     0% { transform: scale( 0) rotate(30deg); opacity: 0  ; }
//    80% { transform: scale( 0) rotate(30deg); opacity: 0.5; }
//    81% { transform: scale( 3) rotate(30deg); opacity: 1  ; }
//   100% { transform: scale(50) rotate(30deg); opacity: 0  ; }
// }

// 「動くWebデザインアイディア帳」
/*きらっと光る*/

.sparkle{
    /*キラッと光る基点とするためrelativeを指定*/
  position: relative;
    /*ボタンの形状*/
  // display:inline-block;
    // background: #333;
    // color: #fff;
    // padding: 10px 20px;
    // text-decoration: none;
    // outline: none;
    // overflow: hidden;
}

/*キラッと光る*/
.sparkle::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
    /*キラッと光る形状*/
    width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
}

/*hoverした際の移動のアニメーション*/
.sparkle:hover::before {
  animation: shine 0.7s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
