// ページをまたいで使われる各種パーツを定義するクラス

// @import "footer";
// @import "form";
// @import "header";
// @import "hero";
// @import "intro";
// @import "service";
// @import "submenu";
// @import "table";
// @import "title";

h1#logo {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 2.5rem;
  color: $konjiki !important;
  padding: 0.5rem !important;
  &:hover {
    color: lighten($konjiki, 15%) !important;
  }

  img {
    margin-right: 0.5rem;
    width: 48px;
    height: 48px;
  }
}
