---
title: C言語を学ぶ
---

.ui.fluid.container
  .billboard
    = image_tag 'tibet_mountain_1920x300.jpg'
    .catch_phrase
      h1
        | Ｃ言語を学ぶ
      p.lead
        | お子様から大人まで、プログラミング入門にもお薦め。
        br.mobile.only
        | 組み込み系など、電子工作も楽しめます。

.ui.middle.aligned.stackable.grid.container.mt-5
  .row
    .eight.wide.column
      h2.ui.header Ｃ言語を学ぶ
      p
        | Ｃ言語は、人に分かりやすい高級言語でありながら、より機械に近いコーディングができることから、長年に渡り使われて来たプログラミング言語です。

      h2.ui.header
        | プログラミング入門や
        br.mobile.only
        | 電子工作も楽しもう
      p
        | ハードウェアに近いコードも記述できるＣ言語。組み込み系などにも活用され、また電子工作も楽しめます。プログラミング入門にもお薦めです。

    .six.wide.right.floated.column
      = image_tag "the_c_programming_language.png", class: "ui large bordered rounded image"

.ui.text.container.mt-5
  h2.ui.header 講座内容のご案内
  p
    | これまでに、多くの方々に学んでいただいております Webプログラミング講座。
    br
    | ここではその内容をご案内いたします。

  h2.ui.horizontal.header.divider
    .amairo.text 講座内容 ご案内


  h2 対面での講座
  p
    | プログラミングを習得されたいあなたへ向けて、独学でも学べるよう、多数のオンライン講座もございますが、分からない点、疑問点を気軽に聞ける対面での講座は、学習意欲の維持や、技術習得の観点から、お勧めです。

  h2 ITパスポート とは
  p
    | ｉパスは、IT化が進んだ現代社会に羽ばたく社会人や学生のために、
    | IT(情報技術)の基礎知識を証明できる国家試験です。

  h2 応用情報技術者 とは
  p
    | ITエンジニアとして、技術から管理、経営まで、幅広い知識と応用力を身に付けた、
    | システム開発などで高いパフォーマンスを発揮する方の国家試験です。

  h2 費用や学習期間
  p
    | ITパスポートは、習得が容易で、初めての方にお勧めです。
    | 合格の目安として、概ね３０〜５０時間の学習時間を確保して頂ければと思います。
  p
    | 応用情報技術者は、より上位の資格です。
    | 合格の為に、概ね三ヶ月から半年程度の学習をなさって頂ければと想います。
  p
    | 街中のスクールでは一時間あたり５０００円ほどが相場となっておりますが、多くの方に学んで欲しいとの想いから、半額ほどでご指導いたしております。
    br
    | ご予算に応じ、ご相談に乗りますので、お気軽にお尋ねください。

  h2 学びの形
  p
    | 先生が前に立ち、生徒は机に座って、授業を受ける。よくあるパソコン教室での学びはこのようになりがちです。
    br
    | もっと気軽にITを学んで欲しい。そんな想いから喫茶店等での個人レッスンを中心に行っています。
    | ちょうど家庭教師のような、あるいはともにITを学び技術向上を目指す仲間のような意識を持っていただければと思っています。
    | お友達とご一緒に公共施設や会議室を借りてのグループレッスンも可能です。

  h2 お近くの喫茶店でミニ講座も
  p
    | 喫茶店等でお打ち合わせや、パソコンをお持ち頂ければ、簡単な開発環境の整備やミニ講座も可能ですので、お気軽にお問い合わせください。

  h2 テキストはこちら
  .ui.link.cards style="justify-content: center;"
    .card
      .image
        = link_to "https://www.amazon.co.jp/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A2%E3%83%B3%E3%82%AF/dp/479815038X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1590585117&sr=8-1" , target: "_blank" do
          = image_tag 'c_ehon.jpg'
      .content
        .header
          | Cの絵本 第2版 C言語が好きになる新しい9つの扉
        .description
          | プログラムのことを何も知らなくても勉強が始められるように考えられた、とてもやさしい入門書です。難しいと言われるC言語のポインタについても無理なくハードルを越えられるように配慮しました。本書を読むのにプログラム言語の知識は一切不要です。もっとも親しみやすいC言語の入門書。

    .card
      .image
        = link_to "https://www.amazon.co.jp/%E3%82%A2%E3%83%AB%E3%82%B4%E3%83%AA%E3%82%BA%E3%83%A0%E3%81%AE%E7%B5%B5%E6%9C%AC-%E7%AC%AC2%E7%89%88-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%8C%E5%A5%BD%E3%81%8D%E3%81%AB%E3%81%AA%E3%82%8B%E6%96%B0%E3%81%97%E3%81%849%E3%81%A4%E3%81%AE%E6%89%89-%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A2%E3%83%B3%E3%82%AF/dp/4798159379/ref=pd_bxgy_img_2/357-1216686-9978804?_encoding=UTF8&pd_rd_i=4798159379&pd_rd_r=bcc48524-9154-4464-a57b-ebf3644059ef&pd_rd_w=m6KOA&pd_rd_wg=A5AaI&pf_rd_p=f9b7301a-70fe-4140-bc13-8df64a58b673&pf_rd_r=TTZS2DCEV8YB3HMT0FGT&psc=1&refRID=TTZS2DCEV8YB3HMT0FGT" , target: "_blank" do
          = image_tag 'algorithm_no_ehon.jpg'
      .content
        .header
          | アルゴリズムの絵本 第2版 プログラミングが好きになる新しい9つの扉
        .description
          | 本書はアルゴリズムとプログラムロジックの基本を通じて、
          | プログラミング（＝コードを書く）の実際を学んでいただけます。
          | アルゴリズムは、与えられたさまざまな課題をプログラムで効率良く解く、
          | 「解法」のことです。
          | 効果的なコードを書くための第一歩を踏み出すことができます。

/ コンピュータの仕組み、プログラミングといった技術系から、知的財産権や財務会計に至るまで

/ IT系の国家資格として、ITパスポート、基本情報技術者、応用情報技術者、高度試験各種がございますが、
/ ITパスポートは、最も易しい試験となります。
/ 他の試験が、コンピュータ技術者としての資質・能力評価を目的としているのに対し、
/ ITパスポートは、一般学生や社会人向けに、IT利活用のための基礎知識の有無を問う内容です。
/ 試験も記述式ではなく、４つの選択肢から正解を選ぶ方式ですので、
/ 初心者の方であっても概ね３０時間の学習時間があれば合格できる水準です。
/
/ 指導の雰囲気としては、家庭教師のような形態を想像していただければわかりやすいかと思います。
/ 平日の夜に、週一二回、二時間ほど、喫茶店や公共施設等でテキストの解説や、試験問題の回答などを行います。
/ 指導料ですが、概ね一回あたり３０００円〜４０００円をみて頂ければと思います。
/
/ 使用予定のテキストです。
/ https://www.amazon.co.jp/キタミ式イラストIT塾-ITパスポート-平成31-01年-りゅうじ-ebook/dp/B07L9M35B3/ref=sr_1_4?__mk_ja_JP=カタカナ&keywords=ITパスポート&qid=1572145771&sr=8-4
