---
title: Web制作依頼
---

= billboard(data.course[1])

.ui.middle.aligned.stackable.grid.container.mt-5
  .row
    .nine.wide.column
      h2.ui.header 個人・企業さまのWebサイト お作りします
      p style="line-height: 1.5;"
        | 個人様や企業様のWebサイトの作成を承っております。
        | 趣味のサークル活動や、地域の町内会活動など、様々な広報活動にも最適です。
        | 名刺代わりにどうぞご活用ください。

      h2.ui.header
        | レスポンシブデザインで
        br.mobile.only
        | iPhoneにも対応
      p style="line-height: 1.5;"
        | Webサイト閲覧は、従前はコンピュータからのアクセスが中心でしたが、iPhone, iPad といった、モバイル端末からのアクセスが急増しています。画面の小さなモバイル端末からの快適な閲覧体験を実現いたします。
    .seven.wide.right.floated.column
      = image_tag "macbook.webp", class: "ui large bordered rounded image"

  / .row
  /   .center.aligned.column
  /     a.ui.huge.button Check Them Out

.ui.text.container.mt-5
  h2.ui.header 高品質でご依頼しやすいお値打ち価格
  p
    | 様々な方々がWebサイト作成を手がけていますが、
    | アトリヱ未來では、皆様のご予算に応じてお値打ち価格で承っておりますので、お気軽にお問い合わせください。

.ui.text.container.mt-5
  h2.ui.header これまでに作成したWebサイトのご紹介
  p
    | これまでに、趣味のサイトから企業サイトまで様々なウェブサイトを作成して参りました。
    br
    | ここではその一部をご紹介いたします。

  h2.ui.horizontal.header.divider
    / a href="#"  作成サイト ご紹介
    .amairo.text 作成サイト ご紹介
  / h2.ui.header Did We Tell You About Our Bananas?
  / p Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
  / a.ui.large.button I'm Still Quite Interested

.ui.container.mt-5
  .ui.cards.centered.floated
    = partial 'portfolio', locals: data.portfolio[0]
    = partial 'portfolio', locals: data.portfolio[1]
    = partial 'portfolio', locals: data.portfolio[2]

.ui.text.container.mt-5

  h2 料金や制作期間について
  p
    | Webサイトの作成料金や期間は、そのサイトのもつ性格やページ数等、様々な要素があり、一概に申し上げることは困難ですが、トップページと数点の下層ページからなる基本的なWebサイトでございましたら、概ね数万円から作成いたしております（文章や画像等をご提供頂いた場合）。
    br
    | 作成期間は一ヶ月を目安にしていただければと思います。

  h2 サーバーの管理
  p
    | 作成いたしましたWebサイトは、お客様ご自身でお好みのサーバーで公開していただけます。また、当方の推奨するサーバーであれば、月々の更新業務もいたしております。

  h2 対応ブラウザ
  p
    | Mac / iPhone / iPad に対応したWebサイトをお作りいたします。Safari や Google Chrome で閲覧なさってください。

  h2 お打ち合わせ
  p
    | お作りになりたいサイトのイメージなど、お近くの喫茶店や、遠方の方でしたらビデオ通話等で、お打ち合わせをさせていただければと思います。またご予算面でもご相談可能ですので、どうぞお気軽に
    = link_to ' お問い合わせ ', '/contact.html'
    | ください。

.ui.container.mt-5
  h2.ui.header ご案内
  .ui.four.column.doubling.stackable.grid.container
    = partial 'other_course', locals: data.course[2]
    = partial 'other_course', locals: data.course[3]
    = partial 'other_course', locals: data.course[4]
    = partial 'other_course', locals: data.course[5]

= partial 'books'
