---
title: HTML / CSS を学ぶ
---

/ billboard
= billboard(data.course[2])

.ui.middle.aligned.stackable.grid.container.mt-5
  .row
    .eight.wide.column
      h2.ui.header HTML/CSS を 学ぶ
      p
        | Webサイト作成に用いられるプログラミング言語。それが HTML と CSS です。
        br
        | 始めてのプログラミング入門に最適。結果をすぐに確認でき、学習意欲が継続します。
        br
        | 習得後は、ご自身でWebサイトを公開、フリーランスへの道も拓けてきます。

      h2.ui.header
        | CSSグリッドレイアウトで
        br.mobile.only
        | 自由自在にレイアウト
      p まず基本は文字や写真を載せること。そしてその先へ。最先端のCSSグリッドレイアウト技術を学び、まるで雑誌のグラビアのようなレイアウトも実現可能です。
    .six.wide.right.floated.column
      = image_tag "html5_css3.png", class: "ui large bordered rounded image"

.ui.text.container.mt-5
  h2.ui.header 講座内容のご案内
  p
    | これまでに、多くの方々に学んでいただいております HTML/CSS講座。
    br
    | ここではその内容をご案内いたします。

  h2.ui.horizontal.header.divider
    .amairo.text 講座内容 ご案内

  h2 HTMLとは
  p
    | Webサイト(ホームページ)は、HTML/CSS という言語で作成されています。
    br
    | HTML/CSS は、数あるプログラミング言語の中でも、
    理解も容易で、大変習得しやすく、成果物（つまり作成したWebサイトそのものです)が、すぐに確認できることから、学習意欲も継続しやすいという特徴を備えており、初めて学ぶにはとっても良い言語です。

  h2 学習内容
  p
    | HTML講座では、Webサイトをご自身で作成できるよう、様々なことを学んでいきます。

  h3 HTML入門篇
  ul
    li
      | HTMLとは
      p
        |「見出し」「本文」など、Webサイトの文書構造を書き表すための言語です。
    li
      | HTMLで、簡単なWebサイトを書いてみる
      p
        | &lt;h1&gt;こんにちは&lt;/h1&gt;
    li
      | CSSとは
      p
        | 色や大きさ、配置など、Webサイトの飾り付けを書き表すための言語です。
    li
      | CSSで、簡単に飾り付けをしてみる。
      p
        code
          | h1 {
          | &nbsp;&nbsp;color: red;
          | }
    li
      | CSSグリッドレイアウト
      p
        | 「グリッド」とは、「格子」のこと。
        br
        画面の二次元（縦と横）方向に格子(グリッド)を用意し、自由自在に、文章や画像など、各要素を配置することができるようになります。
    li
      | レスポンシブデザイン
      p
        | メディアクエリ を使い、
        br
        | 画面の幅に応じて、iPhoneやMac等、それぞれに適したデザインで、Webサイトを見せる方法を学びます。
    li
      | お問い合わせフォーム
      p
        | Webサイトを見た方からの問い合わせを受けられるようにサイトを作っていきます。
    li
      | Webサイトの公開
      p
        | 作ったWebサイトをみんなに見てもらえるよう、サーバに公開する方法です。
    li
      | エディタの使い方
      p
        | HTML / CSS を書くための便利なソフト、「エディタ」の使い方も学びます。

  h3 HTML発展篇
  ul
    li
      | slim
      p
        | html を より簡単に書ける slim について学びます。
    li
      | sass
      p
        | css を より簡単に書ける sass について学びます。
    li
      | git
      p
        | ソースコードを管理できる Git について学びます。
        br
        | 写真を追加した、SNSを追加したなど、
        br
        | でき上がるたびに、Git を使って保存していくと、
        br
        | 元に戻したいときにすぐに戻せるなど、いろいろ便利です。
        br
        | バックアップにもなり、また他者とのコードの共用も容易になります。
    li
      | middleman
      p
        | 静的サイトジェネレータであるmiddlemanを利用すると、
        br
        | slimやscssで書いたコードをブラウザが理解できるよう、
        br
        | htmlとcssに翻訳してくれます。
        br
        | また、メニュー項目など、Webサイトで共通する部分も容易に管理できます。

  h2 作成できるウェブサイトの例
  p
    | iPhoneにも対応したレスポンシブデザインで、次のようなサイトが作成できます。
    .ui.fluid.card
      = link_to 'https://atelier-mirai-wave.netlify.app/', target: '_blank' do
        = image_tag('wave.jpg')
      end

  = partial 'course_introduction'

  h2 テキストはこちら
  .ui.centered.cards
    = book_intro(data.book[0], format: :large_description)
    = book_intro(data.book[1], format: :large_description)

.ui.container.mt-5
  h2.ui.header ご案内
  .ui.four.column.doubling.stackable.grid.container
    = partial 'other_course', locals: data.course[1]
    = partial 'other_course', locals: data.course[3]
    = partial 'other_course', locals: data.course[4]
    = partial 'other_course', locals: data.course[5]

= partial 'a_gem_of_a_book'
