---
title: IT資格取得
---

/ billboard
= billboard(data.course[4])

.ui.middle.aligned.stackable.grid.container.mt-5
  .row
    .eight.wide.column
      h2.ui.header ITの資格を取得する
      p
        | 毎日の暮らしの中に、コンピュータは息づいています。電化製品や自動車や信号機、駅の改札などなど。
        br
        | iPhoneを使うだけの人から一歩進んで、現代に生きる情報技術の基礎を学びます。

      h2.ui.header
        | ITパスポート と 応用情報技術者
      p
        | 社会人や学生のための一般教養としての「ITパスポート」、技術者であることを示す「基本情報技術者」、高い専門性を証明するための「応用情報技術者」。
        br
        | 自己の学びや成長、研鑽にどうぞお役立てください。

    .six.wide.right.floated.column
      = image_tag "qualification.webp", class: "ui large bordered rounded image"

.ui.text.container.mt-5
  h2.ui.header 講座内容のご案内
  p
    | これまでに、多くの方々に学んでいただいております IT資格取得講座。
    br
    | ここではその内容をご案内いたします。

  h2.ui.horizontal.header.divider
    .amairo.text 講座内容 ご案内


  h2
    | 情報処理技術者試験
    br.mobile.only
    | 我が国唯一の国家資格
  p
    | 情報処理の促進に関する法律の規定に基づき、情報処理に関して必要な知識及び技能を問う、国家試験です。
    br
    | ITパスポート、基本情報技術者、応用情報技術者、高度試験各種と四段階があり、コンピュータの仕組み、プログラミングといった技術系から、知的財産権や財務会計に至るまで幅広い分野に渡って出題されます。

  h2 ITパスポートとは
  p
    | ITパスポートとは、IT化が進んだ現代社会に羽ばたく社会人や学生のために、情報技術(IT)の基礎知識を証明できる国家試験です。
    br
    | 情報処理技術者試験の中で、ITパスポートは、最も易しい試験で、他の試験がコンピュータ技術者としての資質・能力評価を目的としているのに対し、ITパスポートは、一般学生や社会人向けに、IT利活用のための基礎知識の有無を問う内容です。
    br
    | 試験も記述式ではなく、４つの選択肢から正解を選ぶ方式ですので、初心者の方でも取得が容易で、概ね３０時間の学習時間を目安に合格できる水準です。

  / h2 基本情報技術者とは
  / p
  /   | ｉパスは、IT化が進んだ現代社会に羽ばたく社会人や学生のために、IT(情報技術)の基礎知識を証明できる国家試験です。
  /   br
  /   | 情報処理技術者試験の中で、ITパスポートは、最も易しい試験で、他の試験がコンピュータ技術者としての資質・能力評価を目的としているのに対し、ITパスポートは、一般学生や社会人向けに、IT利活用のための基礎知識の有無を問う内容です。
  /   br
  /   | 試験も記述式ではなく、４つの選択肢から正解を選ぶ方式ですので、初心者の方でも取得が容易で、概ね３０時間の学習時間を目安に合格できる水準です。

  h2 応用情報技術者 とは
  p
    | ITエンジニアとして、技術から管理、経営まで、幅広い知識と応用力を身に付けた、システム開発などで高いパフォーマンスを発揮する方の国家試験です。
    br
    | 高度系の各種試験が、組み込み系、ネットワークやデータベースなど、それぞれの専門性を問う試験であるのに対し、ジェネラリスト最高峰の試験となります。
    br
    | 合格の為には、個人差はございますが、概ね三ヶ月から半年程度の学習期間が必要です。

  h2 学習内容
  p
    | IT資格取得講座では、合格できるようコンピュータやその利活用に関する様々なことを学びます。

  h3 ITパスポート講座
  ul
    li
      | コンピュータの仕組み
      br
      small
        | CPU, メモリ、記憶装置、入出力装置
    li
      | デジタルデータの表現法
      br
      small
        | 二進数、ビットとバイト、文字コード、量子化
    li
      | ファイルとディレクトリ
    li
      | ハードディスク
    li OS と アプリケーション
    li 表計算ソフト
    li データベース
    li ネットワーク
    li セキュリティ
    li システム開発
    li マネジメント
    li プログラミング
    li システム構成と故障対策
    li 企業活動と関連法規
    li 経営戦略 - 業務改善と分析手法
    li 財務会計

  h3 応用情報技術者講座
  ul
    li
      | 基礎理論
      br
      small
        | 二進数、数値表現、誤差、集合と論理演算、確率、統計、グラフ理論
    li
      | 情報理論
      br
      small
        | 情報量、符号化とデータ圧縮、オートマトン、形式言語
    li 論理回路
    li CPU (中央処理装置)
    li メモリ
    li ハードディスク
    li 入出力装置
    li オペレーティングシステム
    li
      | プログラミング
      br
      small
        | プログラミング言語、アルゴリズム、データ構造
    li データベース
    li ネットワーク
    li セキュリティ
    li システム開発
    li マネジメント
    li システム構成と故障対策
    li 業務改善と分析手法
    li 企業と法務

  = partial 'course_introduction'

  h2 テキストはこちら
  .ui.centered.cards
    = book_intro(data.books[4], format: :large_description)
    = book_intro(data.books[5], format: :large_description)
    = book_intro(data.books[6], format: :large_description)

.ui.container.mt-5
  h2.ui.header ご案内
  .ui.four.column.doubling.stackable.grid.container
    = partial 'other_course', locals: data.course[1]
    = partial 'other_course', locals: data.course[2]
    = partial 'other_course', locals: data.course[3]
    = partial 'other_course', locals: data.course[5]

= partial 'books'
