---
title: Webプログラミングを学ぶ
---

/ billboard
= billboard(data.course[3])

.ui.middle.aligned.stackable.grid.container.mt-5
  .row
    .eight.wide.column
      h2.ui.header Webアプリを創る
      p
        | HTML/CSSを用いたWebサイト作成から一歩進んで、データベースを用いた本格的なプログラミングを学んでいきます。
        br
        | クックパッドや食べログなど、利用者からの文章や写真の投稿や、会員登録、検索などが行えるサイトも作ることが出来るようになります。

      h2.ui.header
        | Ruby と
        br.mobile.only
        | Ruby on Rails
      p 柔軟でパワフルな書き味から人気の高い国産言語Ruby(ルビー)と、フルスタックのフレームワーク Ruby on Rails(ルビーオンレイルズ) の技術を習得します。

    .six.wide.right.floated.column
      = image_tag "ruby_and_rails.webp", class: "ui large bordered rounded image"

.ui.text.container.mt-5
  h2.ui.header 講座内容のご案内
  p
    | これまでに、多くの方々に学んでいただいております Webプログラミング講座。
    br
    | ここではその内容をご案内いたします。

  h2.ui.horizontal.header.divider
    .amairo.text 講座内容 ご案内

  h2 Ruby とは
  p
    | Ruby(ルビー)は、まつもとゆきひろさん(通称 Matz)により開発されたオブジェクト指向スクリプト言語です。日本で開発されたプログラミング言語として初めて国際電気標準会議で国際規格に認証されました。開発者のまつもとゆきひろさんは、「Rubyの言語仕様策定において最も重視しているのはストレスなくプログラミングを楽しむことである(enjoy programming)」と述べています。(Wikipediaより引用)
    br
    | その簡潔でかつ柔軟性に富んだ「書き味」に魅せられ、多くの方が愛用しているプログラミング言語です。

  h2 Ruby on Rails とは
  p
    | クックパッドや食べログのように、Webサイトを見る利用者からさまざまな文章や写真が投稿できたり、会員登録や検索などが行えるサイトを創るにはどうしたら良いでしょうか？
    br
    | Webサイトの表示は、HTML / CSS を使いますが、文章や写真を保存するためには、データベースの利用が必要です。また、よりよいWebアプリ作成のために、会員登録を行ったり、お薦めレシピの検索など、様々な機能を実装したいこともよくあります。
    br
    | Webアプリ開発が容易に行えるように、多くの先人達の知見をあわせて提供してくれているフレームワーク、それが Ruby on Rails (ルビーオンレイルズ)です。
    br
    | Webアプリ開発講座は、HTML 講座 で、あらかじめ用意した文章の表示方法を習得された方向けに、さらに一歩進んで、利用者からの入力を反映するような、動的なWebサイトの開発を行います。

  h2 学習内容
  p
    | Webプログラミング講座では、データベースを活用した動的なWebアプリをご自身で開発できるよう、様々なことを学びます。

  h3 Ruby 入門
  ul
    li オブジェクトを理解しよう
    li 自分でクラスを作ってみよう
    li
      | Rubyプログラムの基礎知識
      br
      small
        | 演算子、条件分岐、配列、ハッシュ

  h3 Ruby on Rails 入門
  ul
    li 開発環境整備
    li
      | アプリケーション作成
      br
      small
        | MVC(モデル・ビュー・コントローラ)アーキテクチャ
    li
      | テストコードを書く
    li
      | Webアプリを公開する

  = partial 'course_introduction'

  h2 テキストはこちら
  .ui.centered.cards
    = book_intro(data.books[2], format: :large_description)
    = book_intro(data.books[3], format: :large_description)

.ui.container.mt-5
  h2.ui.header ご案内
  .ui.four.column.doubling.stackable.grid.container
    = partial 'other_course', locals: data.course[1]
    = partial 'other_course', locals: data.course[2]
    = partial 'other_course', locals: data.course[4]
    = partial 'other_course', locals: data.course[5]

= partial 'books'
