---
title: '情報技術を夢の掛け橋に - アトリヱ未來'
---

scss:
  .hidden.menu {
    display: none;
  }
  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead {
    .logo.item {
      img {
        margin-right: 1em;
      }
    }
    .ui.menu {
      .ui.button {
        margin-left: 0.5em;
      }
    }
    h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
  }
  .ui.vertical.stripe {
    // padding: 8em 0em;
    h3 {
      font-size: 2em;
    }
    & .button + h3 {
      margin-top: 3em;
    }
    & p + h3 {
      margin-top: 3em;
    }
    .floated.image {
      clear: both;
    }
    p {
    //   font-size: 1.33em;
    }
    .horizontal.divider {
      margin: 3em 0em;
    }
  }
  .quote.stripe.segment {
    padding: 0em;
    .grid {
      .column {
        padding-top: 5em;
        padding-bottom: 5em;
      }
    }
  }
  .footer.segment {
    padding: 5em 0em;
  }
  .secondary.pointing.menu {
    .toc.item {
      display: none;
    }
  }
  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu {
      .item {
        display: none;
      }
      .menu {
        display: none;
      }
      .toc.item {
        display: block;
      }
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead {
      h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
  }

/ script[src="assets/library/jquery.min.js"]
/ script[src="../dist/components/visibility.js"]
/ script[src="../dist/components/sidebar.js"]
/ script[src="../dist/components/transition.js"]
javascript:
  $(document).ready(function() {
    // fix menu when passed
    $('.masthead').visibility({
      once: false,
      onBottomPassed: function() {
        $('.fixed.menu').transition('fade in');
      },
      onBottomPassedReverse: function() {
        $('.fixed.menu').transition('fade out');
      }
    });
    // create sidebar and attach to menu open
    $('.ui.sidebar').sidebar('attach events', '.toc.item');
  });

.ui.large.top.fixed.hidden.menu
  .ui.container
    a.active.item
      | Home
    a.item
      | Work
    a.item
      | Company
    a.item
      | Careers
    .right.menu
      .item
        a.ui.button
          | Log in
      .item
        a.ui.primary.button
          | desktopでしたにスクロールすると出てくる

.ui.vertical.yellow.sidebar.menu
  a.active.item
    | Home
  a.item
    | Work
  a.item
    | Company
  a.item
    | Careers
  a.item
    | Login
  a.item
    | iPhone用 サイドメニュー

scss:
  .billboard {
    background-image: image-url('aruitasakinimirukeshiki.jpg') !important;
    background-size: cover !important;
    // min-height: 227px !important;
  }


scss:
  .main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 3.5s ease,
      padding 3.5s ease
    ;
  }

javascript:
  $(function(){
    // fix main menu to page on passing
    $('.main.menu').visibility({
      type: 'fixed'
    });
    $('.overlay').visibility({
      type: 'fixed',
      offset: 80
    });
    // lazy load images
    $('.image').visibility({
      type: 'image',
      transition: 'vertical flip in',
      duration: 500
    });
    // show dropdown on hover
    $('.main.menu  .ui.dropdown').dropdown({
      on: 'hover'
    });
    // show dropdown on hover
    $('.ui.dropdown').dropdown({
      on: 'hover'
    });
  });

/ .ui.main.text.container
/   h1.ui.header Sticky Example
/   p This example shows how to use lazy loaded images, a sticky menu, and a simple text container

.pusher
  .ui.vertical.masthead.center.aligned.segment style="min-height: 100px;"
    .ui.container
      .ui.large.secondary.pointing.menu style="border-bottom: none;"
        // iPhone 用ハンバーガーメニュー
        a.toc.item
          i.sidebar.icon

        a.item
          h1.header.item#logo.active
            = image_tag 'logo.png'
            | アトリヱ未來

        .right.item
          a.item
            |
          a.item
            | 通常メニュー
          a.item
            | Company
          a.item
            i.graduation.cap.icon
            | 學ぶ
          .ui.dropdown.item
            | Options
            i.dropdown.icon
            .menu
              a.item Small
              a.item Medium
              a.item Large
          a.ui.yellow.button
            i.paper.plane.icon
            | お問い合わせ

  h1 パンくずリスト トップ > HTML講座

  .ui.vertical.masthead.center.aligned.segment.billboard.mb-4
    .ui.container.left.aligned
      h2.ui.header
        | 情報技術を
        span.ui.large.yellow.text.ml-1.mr-1
          | 夢
        | の架け橋に
      h2
        | 背景画像を半分の高さに
    .ui.container.right.aligned style="align-self: flex-end;"
      p.ui.medium.yellow.text style="padding-top: 500px;"
        | あるいた先にみる景色

  .ui.m-5
    .ui.middle.aligned.stackable.grid.container
      .ui.positive.icon.message
        i.leaf.icon
        .content
          .ui.large.header
            | お知らせ
          p
            | Webサイトをリニューアルいたしました。

  h1.ui.h1
    | HTML講座のご案内

  p.ui
    | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
    | 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
    | 或春の日暮です。
    br
    | 唐の都洛陽らくやうの西の門の下に、ぼんやり空を仰いでゐる、一人の若者がありました。
    | 高瀬舟は京都の高瀬川を上下する小舟である。徳川時代に京都の罪人が遠島を申し渡されると、本人の親類が牢屋敷へ呼び出されて、そこで暇乞をすることを許された。

  h1.ui.h1
    | 対面での講座
  p
    | BEAF benefit, evidence, advantage, feature

  h1.ui.h1
    | いろいろ・・・

  h1
    | お問い合わせフォーム

  .ui.center.aligned.my-5.py-5. style="background: #fffaf0 !important;"
    .ui.text.container
      h2.ui.header
        i.graduation.cap.icon
        | 無料体験レッスンのご案内
      p
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
    .ui.container.center.aligned.mt-4
      button.ui.huge.yellow.button お申し込みはこちら

  .ui.vertical.stripe.segment
    .ui.text.container.mb-4
      h2.ui.massive.header
        i.graduation.cap.icon.mr-3
        | COURSES
      p
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波

    .ui.container
      .ui.cards
        .wide.card
          .content
            = image_tag 'macbook.jpg', class: 'left floated small long ui image'
            .header
              | Webサイトを作って欲しい
            .meta
              | iPhoneにも対応
            .description
              | ホームページ作成のご依頼を承ります。
            = link_to 'https://www.yahoo.co.jp', class: 'ui right floated tertiary teal button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
        .wide.card
          .content
            = image_tag 'html5_css3.png', class: 'left floated small long ui image'
            .header
              | HTML / CSS を学びたい
            .meta
              | プログラミング基礎の習得にも最適です
            .description
              | 初めての方にも基礎からレッスン、ご自分のWebサイトが作成できる講座です。
            = link_to 'https://www.yahoo.co.jp', class: 'ui right floated tertiary teal button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
        .wide.card
          .content
            = image_tag 'ruby_and_rails.png', class: 'left floated small long ui image'
            .header
              | Webプログラミングを学びたい
            .meta
              | 本格的なプログラミングの世界へ
            .description
              | データベース利用の本格的なプログラミング、Ruby on Rails の講座です。
            = link_to 'https://www.yahoo.co.jp', class: 'ui right floated tertiary teal button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
        .wide.card
          .content
            = image_tag 'qualification.png', class: 'left floated small long ui image'
            .header
              | ITの資格を取りたい
            .meta
              | 一般教養として、自己研鑽として
            .description
              | 「ITパスポート」や「応用情報技術者」など国家資格取得のための講座です。
            = link_to 'https://www.yahoo.co.jp', class: 'ui right floated tertiary teal button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る

  .ui.sakura.center.aligned.my-5.py-5
    .ui.text.container.mb-3
      h2.ui.massive.header
        i.graduation.cap.icon
        | CONTENTS
      p
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波


    .ui.four.column.doubling.stackable.grid.container
      .column
        .ui.tertiary.transparent.card
          .content
            = image_tag 'macbook.jpg', class: 'ui left floated midium rounded circle image'
            .center.aligned.header
              | こんてんと
            .description
              | ホームページ作成のご依頼を承ります。
            .ui.center.aligned.mt-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui teal button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく
      .column
        .ui.tertiary.transparent.card
          .content
            = image_tag 'macbook.jpg', class: 'ui left floated midium rounded circle image'
            .center.aligned.header
              | こんてんと
            .description
              | ホームページ作成のご依頼を承ります。
            .ui.center.aligned.mt-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui teal button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく
      .column
        .ui.tertiary.transparent.card
          .content
            = image_tag 'macbook.jpg', class: 'ui left floated midium rounded circle image'
            .center.aligned.header
              | こんてんと
            .description
              | ホームページ作成のご依頼を承ります。
            .ui.center.aligned.mt-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui teal button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく
      .column
        .ui.tertiary.transparent.card
          .content
            = image_tag 'macbook.jpg', class: 'ui left floated midium rounded circle image'
            .center.aligned.header
              | こんてんと
            .description
              | ホームページ作成のご依頼を承ります。
            .ui.center.aligned.mt-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui teal button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく

  .ui.center.aligned.my-5.py-5
    .ui.text.container.mb-3
      h2.ui.massive.header
        i.graduation.cap.icon
        | CLASSROOMS
      p
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
        | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波


    .ui.three.column.doubling.stackable.grid.container
      .column
        .ui.card
          .content.px-0
            .center.aligned.header.mb-3
              | ○○○校
            = image_tag 'macbook.jpg', class: 'ui midium image'
            .left.aligned.header.mt-3.px-3
              | こんてんと
            .description.px-3
              | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
            .ui.left.aligned.mt-3.px-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui tertiary button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく
      .column
        .ui.card
          .content.px-0
            .center.aligned.header.mb-3
              | ○○○校
            = image_tag 'macbook.jpg', class: 'ui midium image'
            .left.aligned.header.mt-3.px-3
              | こんてんと
            .description.px-3
              | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
            .ui.left.aligned.mt-3.px-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui tertiary button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく
      .column
        .ui.card
          .content.px-0
            .center.aligned.header.mb-3
              | ○○○校
            = image_tag 'macbook.jpg', class: 'ui midium image'
            .left.aligned.header.mt-3.px-3
              | こんてんと
            .description.px-3
              | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
            .ui.left.aligned.mt-3.px-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui tertiary button' do
                i.right.arrow.icon.mr-2
                | もっと詳しく

  .ui.geppaku.center.aligned.grid.my-5.py-5
    .five.wide.column
      = image_tag 'TK738.png', class: "ui medium right floated image"
    .eleven.wide.column
      .ui.text.container.mb-3
        .ui.small.header
          | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
          | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
        .ui.grid
          .eight.wide.column
            = link_to 'https://www.yahoo.co.jp', class: 'ui yellow button' do
              i.right.arrow.icon.mr-2
              | 無料体験申し込み
          .eight.wide.column
            = link_to 'https://www.yahoo.co.jp', class: 'ui voilet button' do
              i.right.arrow.icon.mr-2
              | 無料体験申し込み
        .ui.transparent.segment
          p
            span.ui.large.text
              | お問い合わせ：
              span.ui.red.text.mr-3
                | 0120-000-000
            span.ui.medium.text
              | 受付時間：平日 7:00-21:00 / 土日祝 8:00-21:00
          p
            | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波

  .ui.six.column.doubling.stackable.grid.container.mb-5
    .column.p-1
      .ui.tertiary.transparent.card.p-0
        .content.p-0
          = image_tag 'woman1.jpg', class: 'ui small long bordered image p-2'
          .header.mt-3
            | TEACHER'S NAME
          .description
            | せんせいのなまえ
          .mt-3
            = link_to 'https://www.yahoo.co.jp', class: 'ui violet button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
    .column.p-1
      .ui.tertiary.transparent.card.p-0
        .content.p-0
          = image_tag 'woman2.jpg', class: 'ui small long bordered image p-2'
          .header.mt-3
            | TEACHER'S NAME
          .description
            | せんせいのなまえ
          .mt-3
            = link_to 'https://www.yahoo.co.jp', class: 'ui violet button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
    .column.p-1
      .ui.tertiary.transparent.card.p-0
        .content.p-0
          = image_tag 'woman3.jpg', class: 'ui small long bordered image p-2'
          .header.mt-3
            | TEACHER'S NAME
          .description
            | せんせいのなまえ
          .mt-3
            = link_to 'https://www.yahoo.co.jp', class: 'ui violet button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
    .column.p-1
      .ui.tertiary.transparent.card.p-0
        .content.p-0
          = image_tag 'woman1.jpg', class: 'ui small long bordered image p-2'
          .header.mt-3
            | TEACHER'S NAME
          .description
            | せんせいのなまえ
          .mt-3
            = link_to 'https://www.yahoo.co.jp', class: 'ui violet button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
    .column.p-1
      .ui.tertiary.transparent.card.p-0
        .content.p-0
          = image_tag 'woman2.jpg', class: 'ui small long bordered image p-2'
          .header.mt-3
            | TEACHER'S NAME
          .description
            | せんせいのなまえ
          .mt-3
            = link_to 'https://www.yahoo.co.jp', class: 'ui violet button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る
    .column.p-1
      .ui.tertiary.transparent.card.p-0
        .content.p-0
          = image_tag 'woman3.jpg', class: 'ui small long bordered image p-2'
          .header.mt-3
            | TEACHER'S NAME
          .description
            | せんせいのなまえ
          .mt-3
            = link_to 'https://www.yahoo.co.jp', class: 'ui violet button' do
              i.right.arrow.icon.mr-2
              | 詳細を見る


  .ui.two.column.grid.container.mb-4
    .column
      .borderd.m-2.p-3 style="border: 1px solid #ccc;"
        .ui.grid
          .nine.wide.column
            span.ui.blue.text
              | EVENT
            .ui.large.header.mb-0
              | TEACHER'S NAME
            .meta.mb-2
              | 11月12日
            .description
              | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
            .mt-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui tertiary teal button' do
                i.right.arrow.icon.mr-2
                | 詳細を見る
          .seven.wide.column
            = image_tag 'woman1.jpg', class: 'ui small long right floated image'
    .column
      .borderd.m-2.p-3 style="border: 1px solid #ccc;"
        .ui.grid
          .nine.wide.column
            span.ui.blue.text
              | EVENT
            .ui.large.header.mb-0
              | TEACHER'S NAME
            .meta.mb-2
              | 11月12日
            .description
              | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波
            .mt-3
              = link_to 'https://www.yahoo.co.jp', class: 'ui tertiary teal button' do
                i.right.arrow.icon.mr-2
                | 詳細を見る
          .seven.wide.column
            = image_tag 'woman2.jpg', class: 'ui small long right floated image'

= partial 'footer'
