---
title: Webサイト作成依頼
---

// billboard
= partial 'billboard', locals: data.course[1]

.ui.middle.aligned.stackable.grid.container.mt-5
  .row
    .eight.wide.column
      h2.ui.header 個人、中小企業向けのWebサイト、お作りいたします。
      p
        | 個人や地域のサークル活動、個人事業主様や中小企業様向けにWebサイトの作成を承ります。
        br
        | 名刺代わりにご活用ください。

      h2.ui.header
        | レスポンシブデザインで
        br.mobile.only
        | iPhoneにも対応
      p Webサイト閲覧は、従前はコンピュータからのアクセスが中心でしたが、iPhone, iPad といった、モバイル端末からのアクセスが急増しています。画面の小さなモバイル端末からの快適な閲覧体験をレスポンシブデザインにて、実現いたします。
    .six.wide.right.floated.column
      = image_tag "macbook.jpg", class: "ui large bordered rounded image"

  / .row
  /   .center.aligned.column
  /     a.ui.huge.button Check Them Out

.ui.text.container.mt-5
  h2.ui.header これまでに作成したWebサイトのご紹介
  p
    | これまでに、趣味のサイトから企業サイトまで様々なウェブサイトを作成して参りました。
    br
    | ここではその一部をご紹介いたします。

  h2.ui.horizontal.header.divider
    / a href="#"  作成サイト ご紹介
    .amairo.text 作成サイト ご紹介
  / h2.ui.header Did We Tell You About Our Bananas?
  / p Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
  / a.ui.large.button I'm Still Quite Interested

.ui.container.mt-5
  .ui.cards
    = partial 'portfolio', locals: data.portfolio[0]
    = partial 'portfolio', locals: data.portfolio[1]
    = partial 'portfolio', locals: data.portfolio[2]
    = partial 'portfolio', locals: data.portfolio[3]


.ui.text.container.mt-5

  h2 料金や制作期間について
  p
    | Webサイトの作成料金や期間は、そのサイトのもつ性格やページ数等、様々な要素があり、一概に申し上げることは困難ですが、トップページと数点の下層ページからなる基本的なWebサイトでございましたら、文章や画像等をご提供頂いた場合、概ね数万円から作成いたしております。
    | 作成期間は一ヶ月を目安にしていただければと思います。

  h2 サーバーの管理
  p
    | 作成いたしましたWebサイトは、お客様ご自身でお好みのサーバーで公開していただけます。また、当方の推奨するサーバーであれば、月々の更新業務もいたしております。

  h2 対応ブラウザ
  p
    | Mac / iPhone / iPad に対応したWebサイトをお作りいたします。Safari や Google Chrome で閲覧なさってください。

  h2 お打ち合わせ
  p
    | お作りになりたいサイトのイメージなど、お近くの喫茶店で、お打ち合わせをさせていただければと思います。またご予算面でもご相談に乗りますので、
    | お気軽に
    = link_to 'お問い合わせ', '/contact.html'
    | ください。

.ui.container.mt-5
  h2.ui.header ご案内
  .ui.four.column.doubling.stackable.grid.container
    = partial 'other_course', locals: data.course[2]
    = partial 'other_course', locals: data.course[3]
    = partial 'other_course', locals: data.course[4]
    = partial 'other_course', locals: data.course[5]

= partial 'a_gem_of_a_book'
